# Virtual Environments
.venv/
venv/
env/
*env/

# Bytecode 
*.pyc
__pycache__/

# Testing cache
.pytest_cache/

# IDE Settings
.vscode/

# Temporary files
*.log
*.tmp
*.swp
*.bak

# Compressed files
# *.zip
