# Virtual Environments
.venv/
venv/
env/
*env/
.conda/

# Bytecode 
*.pyc
__pycache__/

# Testing cache
.pytest_cache/

# IDE Settings
.vscode/
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
*.swp
*.bak
*.puml
*.svg

# Compressed files
# *.zip
